body{
    font-family: 'Raleway', sans-serif;
}
.navbar-custom{
    background-color:#86be3f !important;
    font-weight: bold;
}

.navbar-custom a{
    color:#fff !important;
}

.navbar-custom a:hover{
    color:#fff;
}




.card-custom{
    border-color: #86be3f;
}

.card-header-custom{
    background-color: #86be3f;
}

.card-header-custom a{
    color: #fff;
}

.color-set{
    background-color:#86be3f; 
    color:white;
}

.color-set-default{
    background-color: #343a40;
     color:white;
}


#imageUpload{
    display: none;
}

